* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
}



.left-panel {
  width: 35%;
  background-image: url("images/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-section {
  position: relative;
  width: 100%;
  height: 100%;
}



.card-front {
  width: 380px;
  height: 210px;
  background-image: url("images/bg-card-front.png");
  background-size: cover;
  position: absolute;
  top: 160px;
  left: 150px;
  padding: 25px;
  color: white;
  border-radius: 10px;
}

.card-number {
  margin-top: 90px;
  font-size: 22px;
  letter-spacing: 3px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}



.card-back {
  width: 380px;
  height: 210px;
  background-image: url("images/bg-card-back.png");
  background-size: cover;
  position: absolute;
  top: 420px;
  left: 230px;
  border-radius: 10px;
}

.card-cvc {
  position: absolute;
  top: 95px;
  right: 45px;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}



.right-panel {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 350px;
}



form {
  display: flex;
  flex-direction: column;
}



.input-group,
.date-group {
  display: flex;
  flex-direction: column;
}



label {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #21092f;
}



input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #dfdee0;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border: 1px solid #610595;
}



.row {
  display: flex;
  gap: 10px;
}



.error {
  color: red;
  font-size: 11px;
  height: 14px;
  margin-top: 5px;
}

.input-error {
  border: 1px solid red;
}



button {
  margin-top: 30px;
  padding: 14px;
  border-radius: 6px;
  border: none;
  background-color: #21092f;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}



.complete {
  text-align: center;
  width: 100%;
}

.complete h2 {
  margin-top: 20px;
  letter-spacing: 2px;
}

.complete p {
  margin-top: 10px;
  color: gray;
}

.hidden {
  display: none;
}



@media (max-width: 1024px) {

  .card-front {
    left: 60px;
  }

  .card-back {
    left: 120px;
  }
}


@media (max-width: 768px) {

  .page-wrapper {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    height: 260px;
    background-image: url("images/bg-main-mobile.png");
  }

  .card-front {
    width: 300px;
    height: 170px;
    top: 120px;
    left: 20px;
  }

  .card-number {
    font-size: 18px;
    margin-top: 70px;
  }

  .card-info {
    font-size: 12px;
  }

  .card-back {
    width: 300px;
    height: 170px;
    top: 40px;
    left: 60px;
  }

  .card-cvc {
    top: 75px;
    right: 35px;
  }

  .right-panel {
    width: 100%;
    padding: 80px 20px 40px;
  }
}
